
# Objects
srcs/*.o
libft/*.o
Libft/*.o

# Executables
*.out
ft_printf
printf

# Libraries
*.a
Libft/*.a

# Tools
./.annex/make/
!/.annex/modify/
./.annex/print/
/.annex/
./.annex/mains_/*

# Misc
logs*

